---
import BaseHead from '../components/BaseHead.astro';
import Navigator from '../components/Navigator.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import 'bootstrap/dist/css/bootstrap.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Navigator title="WE-DO" description={SITE_DESCRIPTION} />
		<Header title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<div class="mx-auto text-center max-w-4xl">
			<div class="sm:flex sm:justify-center sm:mb-8">
				<div class="text-sm hover:ring-gray-900/20 leading-6 px-3 py-1 relative ring-1 ring-gray-900/10 rounded-full text-gray-600">
					<a class="text-indigo-600 font-semibold" href="https://lexingtonthemes.com/free-templates/">
						<span class="absolute inset-0" aria-hidden="true"></span>
						<span class="lg:inline block">More free &amp; Premium templates
							<span aria-hidden="true">→</span>
						</span>
					</a>
				</div>
			</div>
			<p class="text-black tracking-tight font-extrabold lg:text-5xl text-4xl">A starter template built with Astro and Tailwind CSS for your next project</p><p class="text-slate-500 mt-4 mx-auto lg:text-xl max-w-2xl text-base">Putting together a directory website was a challenge. Superstash lets you focus on the content and makes the entire process effortless.</p>
		</div>
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
